@import "tailwindcss";

@utility font-lato {
  font-family: var(--font-lato), sans-serif;
}

@utility font-hind {
  font-family: var(--font-hind-siliguri), sans-serif;
}
@utility border {
  border: 1px solid var(--color-border);
  border-radius: 12px;
}
@utility flexCenter {
  @apply flex justify-center items-center;
}

@theme {
  --color-primary: #0d6efd;
  --color-secondary: #fdbd2c;
  --color-tertiary: #f2f3f3;
  --color-black: #01060d;
  --color-border: #e2e8f0;
  --breakpoint-sm: 340px;
  --breakpoint-md: 660px;
  --breakpoint-lg: 964px;
  --breakpoint-xl: 1280px;
}

@layer components {
  /* .flexCenter {
    @apply flex justify-center items-center;
  } */
}

body{
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* ------------------------------------------------optional --------------------------------------------------- */
/* ------------------------------------------------optional --------------------------------------------------- */
/* ------------------------------------------------optional --------------------------------------------------- */
select {
  -webkit-appearance: none; /* For Chrome, Safari, and newer browsers */
  -moz-appearance: none; /* For Firefox */
  appearance: none; /* Standard property */
}

/* Default dot style */
.slick-dots li button:before {
  font-size: 14px !important; /* default ~6px, increase to make bigger */
  color: #645e5eea !important; /* Tailwind gray-400 */
  opacity: 0.8;
}

/* Active dot style */
.slick-dots li.slick-active button:before {
  font-size: 14px; /* keep same size */
  color: #2c2828cb !important; /* Tailwind blue-600 */
  opacity: 1;
}
